@use 'mixins' as *;
@include menu-toggle;

.header {
  min-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  transition: background-color 0.25s, color 0.25s;
  background-color: var(--white);
  color: var(--black);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: transparent;
    transition: background-color 0.25s;
  }

  &--active {
    background-color: var(--white);
    color: var(--black);

    &::before {
      background-color: var(--black);
    }
  }

  &__inner {
    width: 100%;
  }

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;

    a {
      line-height: var(--header-height);
      display: inline-block;
    }
  }

  &__menu {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 600;

    @media (max-width: 47.9375rem) {
      position: absolute;
      top: var(--header-height);
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: var(--light);
      overflow: hidden;
      height: 0;
      transition: height 0.5s;

      &--open {
        height: calc(var(--header-height) * 4);
      }

      & > * + * {
        margin: 0;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;

    & > * + * {
      margin-left: 2rem;
    }

    @media (max-width: 47.9375rem) {
      flex-direction: column;
      width: 100%;
      overflow: hidden;

      & > * + * {
        margin: 0;
      }
    }
  }

  &__item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 2.25rem;
      left: 0;
      height: 0.25rem;
      width: 100%;
      background-color: var(--black);
      transition: transform 0.25s;
      transform: scaleX(0);
      transform-origin: center;

      @media (max-width: 47.9375rem) {
        bottom: 2rem;
      }
    }

    &--current::before,
    &:hover::before {
      transform: scaleX(1);
    }
  }

  &__link {
    position: relative;
    text-transform: uppercase;
    line-height: var(--header-height);
    display: inline-block;
    top: -0.25rem;

    @media (max-width: 47.9375rem) {
      text-align: center;
      top: 0;
    }
  }
}
