// Global Mixins
@mixin button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  border: 0.125rem solid var(--black);
  height: 3.75rem;
  width: 12.5rem;
  color: var(--white);
  border-radius: 50px;
  transition: background-color 0.25s, color 0.25s;
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 1rem;

  &:hover {
    background-color: var(--white);
    color: var(--black);
  }

  i {
    padding-right: 0.5rem;
    font-size: 1.5rem;
  }
}

@mixin line {
  margin: 2rem 0;
  height: 0.125rem;
  width: 100%;
  background-color: var(--gray);
}

@mixin role {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  margin-top: 1rem;
  font-weight: 800;
  color: var(--dark);
  letter-spacing: 0.0625rem;

  @media (max-width: 35.9375rem) {
    text-align: center;
  }
}

// Section Mixins
@mixin section-title {
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;

  @media (max-width: 35.9375rem) {
    font-size: 2rem;
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    font-size: 9rem;
    font-weight: 900;
    color: var(--white);
    text-transform: uppercase;
    top: -3.5rem;
    left: 0;
    z-index: -1;
    text-shadow: -1px -1px 0 var(--light), 1px -1px 0 var(--light), -1px 1px 0 var(--light), 1px 1px 0 var(--light);
    letter-spacing: 0.5rem;
    line-height: 1;

    @media (max-width: 61.9375rem) {
      font-size: 7.5rem;
      top: -2.75rem;
    }

    @media (max-width: 47.9375rem) {
      font-size: 6rem;
      top: -2rem;
    }

    @media (max-width: 39.9375rem) {
      font-size: 5.25rem;
      top: -1.5rem;
    }

    @media (max-width: 35.9375rem) {
      font-size: 4.5rem;
      right: 0;
      top: -1.25rem;
    }

    @media (max-width: 31.1875rem) {
      font-size: 3.5rem;
      top: -0.75rem;
      letter-spacing: 0.125rem;
    }
  }
}

@mixin section-description {
  font-family: var(--secondary-font);
  letter-spacing: 0.0625rem;
  color: var(--dark);
  padding-bottom: 1rem;
}

// Card Mixins
@mixin card-title {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 800;
}

@mixin card-description {
  font-family: var(--secondary-font);
  letter-spacing: 0.0625rem;
  color: var(--dark);
}

// Menu Toggle Mixin
@mixin menu-toggle {
  .menu-toggle {
    display: none;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;

    @media (max-width: 47.9375rem) {
      display: inline-block;
    }
  }

  .menu-toggle:hover {
    opacity: 0.7;
  }
  .menu-toggle.is-active:hover {
    opacity: 0.7;
  }
  .menu-toggle.is-active .menu-toggle-inner,
  .menu-toggle.is-active .menu-toggle-inner::before,
  .menu-toggle.is-active .menu-toggle-inner::after {
    background-color: var(--black);
  }

  .menu-toggle-box {
    width: 32px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .menu-toggle-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .menu-toggle-inner,
  .menu-toggle-inner::before,
  .menu-toggle-inner::after {
    width: 32px;
    height: 3px;
    background-color: var(--black);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .menu-toggle-inner::before,
  .menu-toggle-inner::after {
    content: '';
    display: block;
  }

  .menu-toggle-inner::before {
    top: -8px;
  }

  .menu-toggle-inner::after {
    bottom: -8px;
  }

  // Squeeze
  .menu-toggle--squeeze .menu-toggle-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .menu-toggle--squeeze .menu-toggle-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  }

  .menu-toggle--squeeze .menu-toggle-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .menu-toggle--squeeze.is-active .menu-toggle-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-toggle--squeeze.is-active .menu-toggle-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }

  .menu-toggle--squeeze.is-active .menu-toggle-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
