@use 'mixins';

.modal {
  padding-top: calc(var(--header-height) * 1.5);
  background-color: var(--white);

  &__title {
    @include mixins.section-title;
  }

  &__line {
    @include mixins.line;
  }

  &__details {
    font-family: var(--secondary-font);
  }

  &__subtitle {
    font-weight: 700;
    line-height: 1.4;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-info {
    display: flex;
    align-items: center;

    &--stack {
      align-items: flex-start;
      flex-direction: column;

      & > * + * {
        margin-top: 1.5rem;
      }
    }
  }

  &__list-title {
    display: flex;
    align-items: center;
    min-width: 9.5rem;
    font-weight: 500;
  }

  &__list-icon {
    font-size: 1.25rem;
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  &__list-value {
    color: var(--gray);
  }

  &__stack-list {
    color: var(--black);
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__stack-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stack-icon {
    font-size: 2rem;
  }

  &__stack-title {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.25rem 0;
  }

  &__description {
    @include mixins.section-description;
    margin-bottom: 2rem;
    padding: 0;
  }

  &__button-group {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    & > * + * {
      margin-left: 2rem;
    }

    @media (max-width: 31.1875rem) {
      flex-direction: column;

      & > * + * {
        margin: 0;
        margin-top: 2rem;
      }
    }
  }

  &__button {
    @include mixins.button;
  }

  &__thumbnail {
    max-height: 100rem;
    max-width: 100%;
    background-color: var(--dark);
    border-radius: 1rem;
    margin: 0 auto 2rem;
    position: relative;
    overflow: hidden;
    display: block;
    border: 1rem solid var(--light);
  }

  &__thumbnail-content {
    display: flex;
    flex-direction: column;
  }
}
