@use 'mixins';

.projects {
  // background-color: var(--light);

  &__title {
    @include mixins.section-title;
    padding-top: 2.25rem;

    &::before {
      content: 'Extra';
      left: -0.25rem;
      padding-top: 2.25rem;
    }
  }

  &__card-group {
    padding-top: 8.25rem; // padding-top (2.25rem) + section-gutter (6rem)
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    grid-gap: 2rem;
  }

  &__card {
    display: flex;
    flex-direction: column;

    width: calc(33.3333% - 1.5rem);

    @media (max-width: 87.4375rem) {
      width: calc(50% - 1.5rem);
    }

    @media (max-width: 47.9375rem) {
      width: 100%;
    }
  }

  &__card-image {
    background-color: var(--light);
    max-height: 22rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    position: relative;
    flex-grow: 1;

    img {
      height: 100%;
    }

    &::before {
      content: 'Click for Details';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;
      background-color: var(--black);
      color: var(--white);
      opacity: 0;
      -webkit-transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -ms-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &__card-title {
    @include mixins.card-title;
    padding: 1rem 0 0;
  }

  &__card-subtitle {
    @include mixins.card-description;
    padding: 1rem 0 0;
  }

  &__button {
    @include mixins.button;
    margin: 3rem 0;

    @media (max-width: 31.1875rem) {
      margin: 3rem auto 0;
    }
  }
}
